@import 'tailwindcss';
/* @plugin "@tailwindcss/typography"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ease-cs-1: cubic-bezier(0.77, 0, 0.175, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --ease-cs-1: var(--ease-cs-1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-transition {
  view-transition-name: main-transition;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* OLD - Fade out ทันที */
::view-transition-old(root) {
  animation: fade-out 0.7s ease forwards;
  z-index: 1;
}

/* NEW - ซ่อนไว้ก่อน แล้ว fade-in หลัง delay */
::view-transition-new(root) {
  opacity: 0;
  animation: fade-in 0.7s ease forwards;
  animation-delay: 0.4s;
  z-index: 2;
}

@layer components {
  .c-container {
    @apply max-w-[61.625rem] w-full px-4 mx-auto;
  }
}

@utility h-screen-no-header {
  @apply h-[calc(100svh-3.5rem)];
}

@utility min-h-screen-no-header {
  @apply min-h-[calc(100svh-3.5rem)];
}
